<div class="bottom-navbar">

    <div class="nav-links">  
        <a href="/"> <img src="/images/home-white.png"></a>
        <a href="/users/create-cocktail"><img src="/images/create-white.png"> </a>
        <a href="/cocktail"><img id="cocktail-icon" src="/images/cocktail-white.png"></a>
    </div>


</div>

