<div class="bottom-navbar">

    <div class="nav-links">  
        <a href="/"> <img src="/images/home-orange.png"></a>
        <a href="/users/create-cocktail"><img src="/images/create-orange.png"> </a>
        <a href="/cocktail"><img id="cocktail-icon" src="/images/cocktail-orange.png"></a>
    </div>


</div>

