<h2>Edit profile</h2>

<form action="/users/{{user._id}}/edit" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" value={{user.username}} />

  <button type="submit">Update</button>
</form>
