<h1>Log In</h1>
<form action="/users/login" method="post">

    <label for="email">Username</label>
    <input required type="username" name="username" placeholder="Username"/>

    <label for="password">Password:</label>
    <input required type="password" name="password" placeholder="Password"/>

    <button type="submit">Log In</button>
{{! need to add a route here !}}
    <a href="/">Don't have an account? Sign up here</a>
   
</form>