<div class="signup">
<form action="/users/login" method="post">
<div class="signup-form">
  <label for="username"></label>
  <input
    type="text"
    name="username"
    unique="true"
    required="true"
    placeholder="Username "
  />
</div>
<div class="signup-form">

  <label for="password"></label>
  <input
    type="password"
    name="password"
    required="true"
    placeholder="Password"
  />
</div>
<div class="signup-form">

  <button class="submit-button"  type="submit">Login</button>
  <a href="/users/signup">Don't have an account? Sign up here</a>
</div>
</form>
</div>
{{#if error}}
  <p>{{error.msg}}</p>
{{/if}}