<h1>Hey, here is a list of your favorite cocktails</h1>

<div class="cocktail-list-container">


     {{#each favs}}
     <div class="cocktail-container">
         <div class="imgAndTitle">
         <a href="/cocktail/{{idDrink}}"><img src="{{strDrinkThumb}}" class="cocktaimImg-list" class="image-thumbnail" alt="Cocktail Image"></a>  
        <h3 class="drink-title">{{this.strDrink}}</h3>
         </div>
 
    
    <a href="/users/my-favorites/delete/{{idDrink}}">Delete</a>
    </div>
    <hr>
    {{/each}}

</div>
 


