<h1>Hey, here is a list of your favorite cocktails</h1>


<ul>

      

    <a href="/users/my-favorites/{{idDrink}}">here</a>
    
    <li>{{name}}</li>
    <label for="favorites">Favorites: </label>
 


</ul>