      <h2>Hello {{user.username}} ! </h2>

  <div class="profile-container">

    <div class="user-buttons">

    <a href="/users/my-cocktails">My Cocktails</a>
    <a href="/users/my-favorites/">My Favorites</a>
</div>
  <div class="profile-info">

    <p> <strong> Username: </strong> {{user.username}} <br>
     <strong> Email Address: </strong> {{user.email}}</p>

</div>
    <div class=" session-buttons">
    <a  href ="/users/{{user._id}}/edit">Edit Profile</a>
    <a  href="/users/logout">Logout</a>
</div>
</div>