<h1>Hello! This is your profile </h1>

<h2>Username: {{user.username}}</h2>
<h2>Email address: {{user.email}}</h2>
<h2><a href="/users/my-cocktails">My cocktails</a></h2>

<h2><a href="/users/my-favorites">My Favorites</a></h2>

<a href ="/users/{{user._id}}/edit"><button type="submit">Edit profile</button></a>


<form action="/users/logout" method="GET">
  <button type="submit">Logout</button>
</form>