<form action="/users/signup" method="post">


<input type="text" name="email" unique="true" required="true" placeholder="Email"/>

<input type="text" name="username" unique="true" required="true" placeholder="Username"/>


<input type="password" name="password" required="true" placeholder="Password"/>

<input required type="favcocktail" name="favcocktail" placeholder="Your favourite cocktail"/>

<button type="submit">Signup</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}