<h1>Sign Up Page</h1>

<form action="/users/signup" method="post">

    {{!<label for="username">Username:</label>}}
    <input required type="text" name="username" placeholder="Username" />

    {{!<label for="email">Email:</label>}}
    <input required type="email" name="email" placeholder="Email"/>

    {{!<label for="password">Password:</label>}}
    <input required type="password" name="password" placeholder="Password"/>

    {{!<label for="favCocktail">Tell us your favourite cocktail</label>}}
    <input required type="favcocktail" name="favcocktail" placeholder="Your favourite cocktail"/>

    <button type="submit">Sign up</button>

</form>