
<img src="/images/sassy-hour-logo.png" class="logo-welcome-page" alt="Sassy Hour">

<div class="welcome-page-button-container">
<a href="/cocktail/random">
<button class="welcome-button-style">Random Cocktail Generator</button>
</a>
</div>

