

    <div class="welcome-page-container">
        <img src="/images/sassy-hour-logo2.png" class="logo-welcome-page" alt="Sassy Hour">
    <br>
    <br>
    <br>
    <br>
         
        <p>{{q}}</p>
        
         <div id="/cocktail/random"></div>
            <button class="welcome-button-style" >
            Random Cocktail!
            </button>
        </form>
    </div>

