<div class="welcome-page-container">
  <img
    src="/images/sassy-hour-logo2.png"
    class="logo-welcome-page"
    alt="Sassy Hour"
  />
  <br />
  <br />


  <p class="random-quote">"{{q}}"</p>

  <form action="/cocktail/random">
    <button class="random-button">
      Random Cocktail!
    </button>
  </form>
</div>