<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

<div class="alphabet-container">
    <div class="letter-box">
        <a href="/cocktail/alphabet/a">A</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/b">B</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/c">C</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/d">D</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/e">E</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/f">F</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/g">G</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/h">H</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/i">I</a>
    </div>
    <div class="letter-box">
    <a href="/cocktail/alphabet/j">J</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/k">K</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/l">L</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/m">M</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/n">N</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/o">O</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/p">P</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/q">Q</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/r">R</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/s">S</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/t">T</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/v">V</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/w">W</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/y">Y</a>
    </div>
    <div class="letter-box">
        <a href="/cocktail/alphabet/z">Z</a>
    </div>
</div>



