<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="alphabet-container">
        {{#each letterArray}}
        <a class="letter-box" href="/cocktail/alphabet/{{this}}">{{this}}</a>
        {{/each}}
        
        
</div>



