<h1>Cocktails</h1>
<ul>

{{#each cocktails}}
    <li>{{strDrink}}</li>
    <img src="{{strDrinkThumb}}" width="30px" class="image-thumbnail" alt="Cocktail Image">
    <a href="/cocktail/{{idDrink}}">See</a>

   <a href="/users/add-to-favorites/{{idDrink}}"><button>Add to favorites</button></a> 

{{/each}}
</ul>