<h1>Cocktails</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="container-wrapper">
{{#each cocktails}}
<div class="cocktail-container">
    <a href="/cocktail/{{idDrink}}"><img src="{{strDrinkThumb}}" width="30px" class="image-thumbnail" alt="Cocktail Image"></a>
    <h3>{{strDrink}}</h3>
 </div>
{{/each}}
</div>


