<h1>{{glass}} cocktails</h1>

<div class="cocktail-filter-list">
  <ul>

    {{#each glasses}}
      <li class="drink-title">{{this.strDrink}}</li>
      <img
        src="{{strDrinkThumb}}"
        width="50px"
        class="image-thumbnail"
        alt="Cocktail Image"
      />
      <a href="/cocktail/{{idDrink}}" class>See</a>

    {{/each}}
  </ul>
</div>