<div class="section-title"><h1>Cocktails</h1></div>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="cocktail-list-container">
{{#each cocktails}}
<div class="cocktail-container">
    <a href="/cocktail/{{idDrink}}"><img src="{{strDrinkThumb}}"  class="cocktaimImg-list" alt="Cocktail Image"></a>
    <h3>{{strDrink}}</h3>
     
 </div>
 <hr>

{{/each}}
</div>


