<h1>Glass cocktails</h1>
<h1>Cocktails</h1>
<ul>

{{#each glasses}}
    <li>{{strDrink}}</li>
    <img src="{{strDrinkThumb}}" width="40px" alt="Cocktail Image">
    <a href="/cocktail/{{idDrink}}">See</a>

{{/each}}
</ul>