<h1>Coffee Liqueurs</h1>

<ul>

  <li><a href="/cocktail/liquor/Kahlua">Kahlua</a> </li>
  <li><a href="/cocktail/liquor/Coffee_Liqueur">Coffee Liqueur</a> </li>
  <li><a href="/cocktail/liquor/Coffee_Brandy">Coffee Brandy</a></li>

</ul>