<h1>Coffee Liqueurs</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>


<div class="coffees-container">

  <a class="coffee-box"  href="/cocktail/liquor/Kahlua">Kahlua</a>
  <a class="coffee-box"  href="/cocktail/liquor/Coffee_Liqueur">Coffee Liqueur</a> 
  <a class="coffee-box"  href="/cocktail/liquor/Coffee_Brandy">Coffee Brandy</a>

</div>