<h1>Coffee Liqueurs</h1>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

<ul>

  <li><a href="/cocktail/liquor/Kahlua">Kahlua</a> </li>
  <li><a href="/cocktail/liquor/Coffee_Liqueur">Coffee Liqueur</a> </li>
  <li><a href="/cocktail/liquor/Coffee_Brandy">Coffee Brandy</a></li>

</ul>