<h1>Check out our community cocktails!</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>


<div class="cocktail-list-container">
  {{#each cocktails}}
   <div class="cocktail-container">
   <a href="/cocktail/community/{{id}}"><img class="cocktaimImg-list" src="{{imgUrl}}" width="80px" alt="Cocktail Image" /></a> 
    <h3>{{name}}</h3>
  
     </div>
  <hr>
{{/each}}
</div>
