<h1>Hey, check peoples recipes!</h1>

<ul>

  {{#each cocktails}}
    <img src="{{imgUrl}}" width="30px" alt="Cocktail Image" />
    <li>{{name}}</li>

    <a href="/cocktail/community/{{id}}">See</a>
{{/each}}
</ul>