<h1>Search By</h1>

<div class="filter-button-container">
<a href="/cocktail/alphabet">ABC</a>
<a href="/cocktail/liquor">Liquor</a>
<a href="/cocktail/non-alcoholic">Non-Alcoholic</a>
<a href="/cocktail/glasses">Glass</a>
<a href="/cocktail/community">Cocktail Community</a>
</div>