<h1>Search By</h1>

<div class="filter-container">
 
    <a class="filter-box" href="/cocktail/alphabet">ABC</a>

    
    <a class="filter-box" href="/cocktail/liquor">Liquor</a>

 
    <a class="filter-box" href="/cocktail/non-alcoholic">Non-Alcoholic</a>

   
    <a class="filter-box" href="/cocktail/glasses">Glass</a>
  
    
    <a class="filter-box" href="/cocktail/community"> Community</a>
</div>