<h1>Search By</h1>

<div class="filter-container">
    <div class="filter-box">
    <a href="/cocktail/alphabet">ABC</a>
    </div>
    
    <div class="filter-box">
    <a href="/cocktail/liquor">Liquor</a>
    </div>

    <div class="filter-box">
    <a href="/cocktail/non-alcoholic">Non-Alcoholic</a>
    </div>
    
    <div class="filter-box">
    <a href="/cocktail/glasses">Glass</a>
    </div>
    
    <div class="filter-box">
    <a href="/cocktail/community"> Community</a>
    </div>
</div>