<h1>Fruity alcohols</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="fruities-container">

  <a class="fruity-box" href="/cocktail/liquor/Absolut_Citron">Absolut Citron</a> 
  <a class="fruity-box" href="/cocktail/liquor/Peach_Vodka">Peach Vodka</a> 
  <a class="fruity-box" href="/cocktail/liquor/Midori_Melon_Liqueur">Midori melon liqueur</a>
  <a class="fruity-box" href="/cocktail/liquor/Strawberry_Schnapps">Strawberry schnapps</a>
  <a class="fruity-box" href="/cocktail/liquor/Creme_de_Cassis">Creme de Cassis</a>
  <a class="fruity-box" href="/cocktail/liquor/Apricot_Brandy">Apricot Brandy</a> 
  <a class="fruity-box" href="/cocktail/liquor/Lemon_Vodka">Lemon Vodka</a>
  <a class="fruity-box" class="whisky-box" href="/cocktail/liquor/Apple_Brandy">Apple Brandy</a>
  <a class="fruity-box" href="/cocktail/liquor/Cherry_Brandy">Cherry Brandy</a>
  <a class="fruity-box" href="/cocktail/liquor/Sloe_Gin">Sloe Gin</a> 
  <a class="fruity-box" href="/cocktail/liquor/Blackberry_Brandy">Blackberry Brandy</a>

</div>