<h1>fruity list</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
  <li><a href="/cocktail/liquor/Absolut_Citron">Absolut Citron</a> </li>
  <li><a href="/cocktail/liquor/Peach_Vodka">Peach Vodka</a> </li>
  <li><a href="/cocktail/liquor/Midori_Melon_Liqueur">Midori melon liqueur</a></li>
  <li><a href="/cocktail/liquor/Strawberry_Schnapps">Strawberry schnapps</a></li>
  <li> <a href="/cocktail/liquor/Creme_de_Cassis">Creme de Cassis</a> </li>
  <li><a href="/cocktail/liquor/Apricot_Brandy">Apricot Brandy</a> </li>
  <li><a href="/cocktail/liquor/Lemon_Vodka">Lemon Vodka</a> </li>
  <li><a href="/cocktail/liquor/Apple_Brandy">Apple Brandy</a></li>
  <li><a href="/cocktail/liquor/Cherry_Brandy">Cherry Brandy</a></li>
  <li> <a href="/cocktail/liquor/Sloe_Gin">Sloe Gin</a> </li>
  <li> <a href="/cocktail/liquor/Blackberry_Brandy">Blackberry Brandy</a> </li>
</ul>