<h1></h1>

<ul>
    <li><a href="/cocktail/liquor/Absolut Citron">Absolut Citron</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Peach Vodka</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Midori melon liqueur</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Strawberry schnapps</a></li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Creme de Cassis</a> </li>
</ul>