<h1>Glass list</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="glass-list-container">
    {{#each glasses}}

      <a class="glass-box" href="/cocktail/glasses/{{strGlass}}">{{strGlass}}</a>
   
    {{/each}}
  </div>
