<h1>Glass list</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="glass-list-container">
    {{#each glasses}}
    <div class="glass-box">
      <a href="/cocktail/glasses/{{strGlass}}">{{strGlass}}</a>
    </div>
    {{/each}}
  </div>
