<h1>Glass list</h1>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
  {{#each glasses}}
    <li><a href="/cocktail/glasses/{{strGlass}}">{{strGlass}}</a></li>
  {{/each}}
</ul>