<h1>Liquor Types</h1>
<ul>
  <li> <a href="/cocktail/liquor/Amaretto">Amaretto</a> </li>
  <li> <a href="/cocktail/liquor/Bitters">Bitters</a> </li>
  <li><a href="/cocktail/liquor/Bourbon">Bourbon</a> </li>
  <li> <a href="/cocktail/liquor/Brandy">Brandy</a> </li>
  <li><a href="/cocktail/liquor/Champagne">Champagne</a> </li>
  <li><a href="/cocktail/liquor/Cider">Cider</a> </li>
  <li> <a href="/cocktail/Coffee">Coffee Liquors</a> </li>
  <li><a href="/cocktail/liquor/Cognac">Cognac</a> </li>
  <li><a href="/cocktail/liquor/Creme_de_Cacao">Creme de Cacao</a></li>
  <li> <a href="/cocktail/liquor/Creme_de_Cassis">Creme de Cassis</a> </li>
  <li> <a href="/cocktail/liquor/Dry_Vermouth">Dry Vermouth</a> </li>
  <li> <a href="/cocktail/liquor/Dubonnet_Rouge">Dubonnet Rouge</a> </li>
  <li><a href="/cocktail/Fruity">Fruity Liquors</a> </li>
  <li> <a href="/cocktail/liquor/Galliano">Galliano</a> </li>
  <li><a href="/cocktail/liquor/Gin">Gin</a> </li>
  <li> <a href="/cocktail/liquor/Grenadine">Grenadine</a> </li>
  <li> <a href="/cocktail/liquor/Irish_Cream">Irish Cream</a> </li>
  <li><a href="/cocktail/liquor/Orange_Bitters">Orange Bitters</a> </li>
  <li><a href="/cocktail/liquor/Ouzo">Ouzo</a> </li>
  <li><a href="/cocktail/liquor/Peppermint_Schnapps">Peppermint Schnapps</a></li>
  <li><a href="/cocktail/liquor/Pisco">Pisco</a> </li>
  <li><a href="/cocktail/liquor/Port">Port</a> </li>
  <li> <a href="/cocktail/liquor/Red_Wine">Red Wine</a> </li>
  <li> <a href="/cocktail/liquor/Ricard">Ricard</a> </li>
  <li> <a href="/cocktail/Rums">Rums</a> </li>
  <li><a href="/cocktail/liquor/Sambuca">Sambuca</a> </li>
  <li><a href="/cocktail/liquor/Sherry">Sherry</a> </li>
  <li> <a href="/cocktail/liquor/Southern_Comfort">Southern Comfort</a> </li>
  <li><a href="/cocktail/liquor/Sweet_Vermouth">Sweet Vermouth</a> </li>
  <li> <a href="/cocktail/liquor/Tequila">Tequila</a> </li>
  <li><a href="/cocktail/liquor/Triple_Sec">Triple Sec</a> </li>
  <li><a href="/cocktail/Whiskies">Whiskeys</a> </li>
</ul>