<h1>Liquor Types</h1>

<form>
  <input
    id="back-button"
    type="button"
    value="Go back!"
    onclick="history.back()"
  />
</form>

<div class="liquor-box">
  <a href="/cocktail/liquor/Amaretto">Amaretto</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Bitters">Bitters</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Bourbon">Bourbon</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Brandy">Brandy</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Champagne">Champagne</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Cider">Cider</a>
</div>
<div class="liquor-box">
<a href="/cocktail/Coffee">Coffee Liquors</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Cognac">Cognac</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Creme_de_Cacao">Creme de Cacao</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Creme_de_Cassis">Creme de Cassis</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Dry_Vermouth">Dry Vermouth</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Dubonnet_Rouge">Dubonnet Rouge</a>
</div>
<div class="liquor-box">
<a href="/cocktail/Fruity">Fruity Liquors</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Galliano">Galliano</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Gin">Gin</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Grenadine">Grenadine</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Irish_Cream">Irish Cream</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Orange_Bitters">Orange Bitters</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Ouzo">Ouzo</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Peppermint_Schnapps">Peppermint Schnapps</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Pisco">Pisco</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Port">Port</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Red_Wine">Red Wine</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Ricard">Ricard</a>
</div>
<div class="liquor-box">
<a href="/cocktail/Rums">Rums</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Sambuca">Sambuca</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Sherry">Sherry</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Southern_Comfort">Southern Comfort</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Sweet_Vermouth">Sweet Vermouth</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Tequila">Tequila</a>
</div>
<div class="liquor-box">
<a href="/cocktail/liquor/Triple_Sec">Triple Sec</a>
</div>
<div class="liquor-box">
<a href="/cocktail/Whiskies">Whiskeys</a>
</div>
