<h1>Hey, here is a list of your cocktails</h1>

<ul>

{{#each cocktails}}
   <img src="{{imgUrl}}" width="30px" alt="Cocktail Image"> 
    <li>{{name}}</li>
 
    <a href="/users/my-cocktails/{{id}}">See</a>

{{/each}}
</ul>