<h1>Hey, here is a list of your cocktails</h1>

<ul>

{{#each cocktails}}
    <li>{{strDrink}}</li>
    <img src="{{strDrinkThumb}}" width="40px" alt="Cocktail Image">
    <a href="/cocktail/{{idDrink}}">See</a>
{{/each}}

</ul>

<button type="edit">Edit</button>
<button type="delete">Delete</button>
