<h1> Rum List </h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="rums-container">

  <a class="rum-box" href="/cocktail/liquor/Spiced_Rum">Spiced Rum</a> 
  <a class="rum-box" href="/cocktail/liquor/Light_Rum">Light Rum</a>
  <a class="rum-box" href="/cocktail/liquor/Dark_Rum">Dark Rum</a>
  <a class="rum-box" href="/cocktail/liquor/Rum">Rum</a>

</div>