<h1> Rum List </h1>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
  <li><a href="/cocktail/liquor/Spiced_Rum">Spiced Rum</a> </li>
  <li><a href="/cocktail/liquor/Light_Rum">Light Rum</a> </li>
  <li><a href="/cocktail/liquor/Dark_Rum">Dark Rum</a></li>
  <li><a href="/cocktail/liquor/Rum">Rum</a> </li>
</ul>