<h1>Whiskies</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="whiskies-container">

  <a class="whisky-box" href="/cocktail/liquor/Blended_Whiskey">Blended Whiskey</a> </li>
  <a class="whisky-box" href="/cocktail/liquor/Scotch">Scotch</a> </li>
  <a class="whisky-box" href="/cocktail/liquor/Irish_Whiskey">Irish Whisky</a></li>
  <a class="whisky-box" href="/cocktail/liquor/Whiskey">Whiskey</a></li>
  <a class="whisky-box" href="/cocktail/liquor/Johnnie_Walker">Johnnie Walker</a> </li>

</div>