<h1>Whiskies List</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
  <li><a href="/cocktail/liquor/Blended_Whiskey">Blended Whiskey</a> </li>
  <li><a href="/cocktail/liquor/Scotch">Scotch</a> </li>
  <li><a href="/cocktail/liquor/Irish_Whiskey">Irish Whisky</a></li>
  <li><a href="/cocktail/liquor/Whiskey">Whiskey</a></li>
  <li> <a href="/cocktail/liquor/Johnnie_Walker">Johnnie Walker</a> </li>
</ul>