
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Roboto:wght@100;900&display=swap');

body {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  background-color: #FFb458;
  margin-bottom: 80px;
}
#back-button{
  position: absolute;
  top: 25px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border:none;
  background-color: transparent;

}
h1 {
  color: #1D1D27;
  font-family: 'Nunito', sans-serif;
  font-size: xx-large;
  font-weight:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #31525B;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

a {
  color: #31525B;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: none;
}

.cocktail-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-image {
  width: 70%;
  border-radius: 25px;
}


.cocktail-filter-list {
  display: flex;
  flex-direction: column;
}

.logo-welcome-page {
  width: 60%;

}

.welcome-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

/* .welcome-button-style {
  margin-top: 200px;
  background-color: #ff9101;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  color: #1D1D27;
  border: none;
  padding: 10px;
  border-radius: 15px;
}  */


 button {
  margin-top: 190px;
  
  transition: all .5s ease;
  color: #1D1D27;
  border: 3px solid #ff9101;
  font-family:'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 20px;
  outline: none;
  border-radius: 20px;
}
button:hover {
  color: #1D1D27;
  background-color: #ff9101;
}




.top-navbar{
  width: 100%;
  background-color: #FFb458;
  display: flex;
  justify-content: end;
}
hr{
  border: 1px solid #1D1D27

}
#profile-icon{
  width: 40px;
  
}

.refresh-button {
  width: 50px;
  
}

.bottom-navbar {
  background-color: #1D1D27;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  
  width: 100%;
  border-top: 9px solid #1D1D27;
  border-bottom: 7px solid #1D1D27;
  margin-left: 0;
}



.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}

.nav-links img {
  width: 45px;
}

#cocktail-icon {
  width: 37px;
}

.filter-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #1D1D27;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  background-color: #1D1D27;
  margin: 10px 10px;
  padding: 15px;
}

.filter-box > a{
  color: white;
  font-size: 1.2em;
  font-weight: bold;

}
.alphabet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight:bold
}
.letter-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #1D1D27;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  background-color: #1D1D27;
  margin: 10px 10px;
  padding: 15px;
}
.letter-box a{
  color: white;
}

.section-title h1{
  margin: 0;
}
.cocktail-list-container{

  width: 100%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cocktail-list-container hr{
  border: 1px solid #1D1D27;
  width: 90%
}

.cocktail-container{
  margin: 10px 10px ;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.cocktaimImg-list {
  width: 100px;
  height: 105px;
  border-radius: 13px;
  margin-right: 20px ;
  margin-left: 20px;
}

.flex-outer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}




.cocktail-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
