body {
  padding: 10px;
  font-family: 'Prata', serif;
  font-size: 17px;
  background-color: #B3DEE5;
  margin-bottom: 200px;
}

h1 {
  color: #31525B;
  font-family: 'Prata', serif;
  font-size: xx-large;
  font-weight:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #31525B;
  font-family: 'Prata', serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

a {
  color: #31525B;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: none;
}

.cocktail-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-image {
  width: 70%;
  border-radius: 25px;
}

.cocktail-filter-list {
  display: flex;
  flex-direction: column;
}

.welcome-page-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.welcome-button-style {
  background-color: #FFA101;
  font-family: 'Prata', serif;
  font-size: 24px;
  color: #31525B;
  border: none;
  padding: 15px;
  border-radius: 25px;
}

.top-navbar{
  width: 100%;
  background-color: #B3DEE5;
  display: flex;
  justify-content: end;
}

#profile-icon{
  width: 40px;
  
}

.refresh-button {
  width: 50px;
  
}

.bottom-navbar {
  background-color: #31525B;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  
  width: 100%;
  border-top: 7px solid #31525B;
  border-bottom: 7px solid #31525B;
  margin-left: 0;
}

.logo-welcome-page {
  width: 100%;
  display: flex;
  font-family: 'Prata', serif;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}

.nav-links img {
  width: 45px;
}

#cocktail-icon {
  width: 37px;
}

.alphabet-container {
display: flex;
flex-direction: column;
color: #31525B;
font-family: 'Prata', serif;
font-size: larger;
font-weight:100

/* word-spacing: 50px;
width: 100%;
border-radius: 15%;
background-color: #FFA101;
margin-top: 20px;
margin-bottom: 20px;
display: flex;
justify-content: space-evenly;
font-family: 'Abril Fatface', cursive;
font-size: 30px;
flex-direction: column;
align-items: center; */
}

.image-thumbnail {
  width: 60px;
  border-radius: 15px;
}

.flex-outer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.cocktail-filter-container {
  width: 80%;
  border-radius: 15px;
  background-color: #FFA101;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Prata', serif;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


